{% extends "base.html" %}

{% block body %}
    <script>
        jQuery(function($){
            $.extend( $.fn.dataTable.defaults, {
                language: {
                    url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                    }
                    });
            $("#statement_list").DataTable({
                "searching": true,
                "paging":   true,
                "ordering": true,
                "lengthChange": true,
                
                }).columns.adjust().draw();
            });
    </script>
    <h1>トップページ</h1>

    <table id="statement_list" width="100%" class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <th class="text-center" width="40%">会社</th>
            {% comment %} <th class="text-center" width="40%">決算日</th> {% endcomment %}
            <th class="text-center">LINK</th>
        </tr>
        </thead>
        <tbody>
        {% for item in company_list %}
        <tr class="odd gradeX text-center">
            <td class="text-center"><a href="{% url 'analysis:company' item.pk %}">{{ item.name }}</a></td>
            {% comment %} <td class="text-center">{{ item.fiscal_year }}</td>{% endcomment %}
            <td><a href="{% url 'analysis:statement' item.pk %}">詳細へ</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}