{% extends "base.html" %}

{% load bootstrap4 %}


{% block body %}
    {% if user.is_authenticated %}
        <script>
            jQuery(function($){
                $.extend( $.fn.dataTable.defaults, {
                    language: {
                        url: "http://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Japanese.json"
                        }
                        });
                $("#statement_list").DataTable({
                    "searching": true,
                    "paging":   true,
                    "ordering": true,
                    "lengthChange": true,
                    
                    }).columns.adjust().draw();
                });
        </script>
        <h1 class="index-top font-weight-bold">日経平均の採用企業リスト</h1>
        <table id="statement_list" width="100%" class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th class="text-center item-list" width="30%">業界</th>
                <th class="text-center item-list" width="20%">証券コード</th>
                <th class="text-center item-list">会社</th>
            </tr>
            </thead>
            <tbody>
            {% for item in company_list %}
            <tr class="odd gradeX text-center">
                <td class="text-center">{{ item.industry }}</td>
                <td class="text-center"><a href="{% url 'analysis:company' item.pk %}">{{ item.code }}</a></td>
                <td><a href="{% url 'analysis:company' item.pk %}">{{ item.name }}</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="description">
            <div class="web-description ">
                <h1 class="font-weight-bold">投資に役立つ財務分析</h1>
                <p class="font-weight-bold">日経平均に採用された企業の財務分析を提供するサービスです</p>
            </div>
            <div class="registration-login">
                <a class="btn btn-outline-light btn-success btn-lg mr-2" href="{% url 'login' %}">ログイン</a>
                <a class="btn btn-outline-light btn-info btn-lg mr-2" href="{% url 'accounts:signup' %}">新規登録</a>
            </div>
            <br>
            <div class="gest-login">
                <a class=" btn btn-primary btn-lg admin_login " rel="nofollow" deta-method="post" href="{% url 'accounts:gust_login' %}" >ゲストログイン</a>
            </div>
        </div>
    {% endif %}
{% endblock %}